global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    timeout http-keep-alive 10s
    retries 3
    option redispatch

frontend http_front
    bind *:80
    default_backend web_backend

backend web_backend
    option http-server-close
    server nginx_backend webstack_nginx:80 check inter 2000 rise 2 fall 3
    server apache_backup webstack_apache:80 check backup inter 2000 rise 2 fall 3
